html,
body {
  background-color: #151516;
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background-color: #333;
}
body::-webkit-scrollbar-thumb {
  background-color: #997B62;
}
.app-main {
  background: url('img/glow-cont.jpg') no-repeat 50% 0;
}
.app-header {
  padding-top: 32px;
  margin-bottom: 32px;
}
.app-header h1 {
  height: 155px;
  text-align: center;
  overflow: hidden;
}
.app-header h1 span {
  display: block;
  background-color: green;
  height: 10px;
  font-size: 5px;
  margin-top: -10px;
}
.app-header h1 img {
  height: 155px;
  margin: auto;
}
.app-header .app-header-line {
  display: flex;
  height: 14px;
  margin-left: -2px;
  margin-right: -2px;
}
.app-header .app-header-line div {
  height: 14px;
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
}
.app-header .app-header-line div.line {
  flex-grow: 1;
  background: url(img/pattern-line.png) repeat-x 0 0;
  margin-top: 6px;
  height: 3px;
}
.app-header .app-header-line div.icon {
  background: url(img/pattern-center.png) no-repeat 0 0;
  width: 38px;
}
.app-body .app-body-item {
  margin-bottom: 32px;
  border-bottom: 1px solid #333;
}
.app-body .app-body-item .media .media-left img {
  width: 120px;
  height: 120px;
  border-radius: 6px;
}
.app-body .app-body-item .media .media-left img.image-gray {
  filter: grayscale(100%);
}
.app-body .app-body-item .media .media-body .media-heading {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  font-size: 18px;
  color: #997B62;
}
.app-body .app-body-item .media .media-body .description {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  color: #fff;
}
.app-body .app-body-item .media .media-body .price {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #c0b055;
  font-weight: bold;
}
.app-body .app-body-item .media .media-body .price sup {
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .app-body .app-body-item .media {
    height: 180px;
  }
}
.app-footer {
  background-color: #090909;
  padding: 32px 0;
  text-align: center;
  color: #666;
}
.whatsapp-contact-2 {
  position: fixed;
  right: 16px;
  bottom: 16px;
}
.whatsapp-contact-2 a {
  display: block;
  border-radius: 50%;
  width: 55px;
  height: 55px;
}
.whatsapp-contact-2 a img {
  max-width: 100%;
}
.whatsapp-contact {
  position: fixed;
  right: 16px;
  bottom: 16px;
}
.whatsapp-contact a {
  display: block;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  font-size: 55px;
  color: #c0b055;
}
.box-links {
  background-color: #1f1f1f;
  color: #fff;
  text-align: center;
  height: 48px;
  line-height: 48px;
}
.box-links a {
  color: #fff;
  text-decoration: underline;
}
.maintenance {
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
  text-align: center;
  color: #f4e7c4;
}
.filter {
  background-color: #222;
  border-radius: 4px;
  margin-bottom: 32px;
  padding: 16px;
  color: #999;
}
.filter .title {
  margin-bottom: 16px;
}
.filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.filter ul li {
  margin-bottom: 8px;
}
.filter ul li:last-child {
  margin-bottom: 0;
}
